@{
    ViewData["Title"] = "Sınav Oluştur";
}
<h1>@ViewData["Title"]</h1>

<table id="grd"      
       data-locale="tr-TR"
       class="table table-sm table-hover table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Başlık</th>
            <th>Link</th>
            <th>Açıklama</th>
            <th>Tarihi</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewBag.RSSFeed)
        {
            <tr>
                <td> <button type="button" class="btn btn-sm btn-primary btnExam" link="@item.Link">Sınav Oluştur</button> </td>
                <td>@item.Title</td>
                <td><a href="@item.Link">@item.Link</a></td>
                <td>@item.Description</td>
                <td>@item.PubDate</td>
            </tr>

        }

    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(".btnExam").click(function () {
        var link = $(this).attr("link")
        alert(link);
    })
</script>
